
.container {
    padding-left: 240px;
    padding-right: 200px;
}

.link-nav {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
}

.baground-header {}

.center-text {
    font-weight: 900;
    font-size: 120px;
    line-height: 108%;
    text-transform: uppercase;
    color: white;
    margin-left: 200px;
}

.span-header {
    border-radius: 211px;
    padding: 20px;
    width: 271px;
    height: 82px;
    color: red;
}

.header-wrapper {
    background: url(/images/header-baground.png) no-repeat center/cover;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-explore {
    font-size: 23px;
    color: white;
    font-weight: 900;
    letter-spacing: 0.01em;
    text-transform: uppercase;

}

.nav-links {
    display: flex;
    align-items: center;
    column-gap: 62px;
    justify-content: space-between;
}

.link-nav {
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.header-button {
    background: red;
    padding: 26px 64px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 40px;
    border: 1px solid red;
    margin-left: 200px;
}

.header-bottom {
    margin-left: 200px;
}

.white-left-line {
    width: 2px;
    height: 296px;
    color: white;
    align-items: center;
}

.red-left-line {
    width: 4px;
    height: 100px;
    color: red;
    align-items: center;
    justify-content: space-around;
}

.block-shadow {
    border: 1px solid #000;
    background: #000;
    display: flex;
    column-gap: 190px;
    margin-top: 240px;
}

.here {
    color: white;
    align-items: center;
    display: flex;
}

.text-header {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #939393;
    align-items: center;
    display: flex;
}

.block-title {
    width: 210px;
    height: 120px;
    column-gap: 10px;
    justify-content: space-between;
}

.block-number {
    color: #DD2242;
    ;
    font-size: 16px;

}

.section-card {
    background: linear-gradient(180deg, #010a20 0%, #010a20 100%);
    padding-top: 140px;
    padding-bottom: 100px;
}

.section-card-items {
    display: flex;
    justify-content: center;
    column-gap: 130px;
    margin-bottom: 130px;
}

.section-card-items-info {
    display: flex;
    flex-direction: column;
}

.section-card-items-info-title {
    font-weight: 700;
    color: white;
    font-size: 42px;
    margin: 0px;
}

.section-card-items-info-desc {
    font-size: 18px;
    color: white;
    margin-bottom: 32px;
}

.section-card-items-info-btn {
    padding: 16px 41px;
    background: #DD2242;
    color: white;
    width: 180px;
    border-radius: 20px;
    border: 1px solid #DD2242;
}


.section-card-items-img {
    width: 470px;
    height: 270px;
}
.text{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.slider{
    display: flex;
    row-gap: 44px;
    flex-direction: column;
}
.slider-items img{
width: 250px;
height: 157px;
border-radius: 10px;
}
.slider-items{
    display: flex;
    justify-content: space-between;
}
.slider-points{
    width: 150px;
    height:15px ;
    align-self:center ;
}
.section-wrapper{
    background: url(/images/man-baground.png) no-repeat center /cover ;
    padding-top: 127px;
    padding-bottom: 850px;
}
.results{
    background: #010711;
opacity: 0.9;
padding-top: 150px;
padding-bottom: 150px;
}
.results-title{
    color: white;
    font-size: 60px;
    text-align: center;
}
.results-desc{
    font-size: 18px;
text-align: center;
color: white;
width: 500px;
margin: 0 auto;
}
.info-number{
    color: #dd2242;
    font-size: 42px;
    font-weight: 700;
}
.info-desc{
    color:white;
    font-size: 18px;
    text-align: center;
}
.results-items{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.results-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc-title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 44px;
}
.desc-cards{
    display: flex;
    flex-direction: column;
    row-gap: 80px;

}
.desc-cards-item-title{
    font-size: 26px;
    font-weight: 700;
}
.desc-cards-item-text{
    font-size: 24px;
    color: rgba(21, 20, 57, 0.4);

}
.desc-cards-photo{
display: flex;
column-gap: 45px;
align-items: center;
}
.desc-cards-photo p{
    width: 600px;
}
.cards-photo-img{
    max-width: 165;
}
.desc{
    background: #dce8f2;
    padding: 120px 250px 100px 210px;
}
.footer{
    background: #010a20;
    padding: 40px 100px 40px 100px;
    display: flex;
    align-items: center;
}
.footer-logo{
    margin-right: 120px;
}
.footer-links{
    display: flex;
    column-gap: 36px;
    align-items: center;
}
.footer-links-item{
    list-style: none;
    color: white;
}
.footer-day{
    font-size: 18px;
    color: white;
    margin-left: 40px;
}
.footer-social{
    margin-left: 300px;
}


@media (max-width:376px){
    .nav-links{
        display: none;
    }
    .nav-explore{
        font-size: 20px;
    }
    .nav{
        padding-right: 32px;
    }
    .header-bottom{
        margin-left: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .center-text{
        font-size: 58px;
        margin-left: 0px;
    }
    .header-button{
        margin-left: 0px;
        padding-left: 90px;
        padding-right: 90px;
        font-size: 18px;
    }
    .block-shadow{
        flex-direction: column;
        margin-top: 54px;
        padding-top: 35px;
        padding-left: 32px;
        padding-bottom: 35px;
    }
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-wrapper{
        padding-top: 30px;
        padding-bottom: 700px;
    }
    .text{
        font-size: 40px;
    }
    .slider-img-one{
        display: none;
    }
    .slider-img-two{
        display: none;
    }
    .slider-items img{
        margin-left: 30px;
    }
    .results{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .results-title{
        font-size: 40px;
    }
    .results-desc{
        width: unset;
    }
    .results-items{
        flex-direction: column;
    }
    .section-card{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section-card-items{
        flex-direction: column;
        margin-bottom: 56px;
    }
    .section-card-items-img{
        width: unset;
        margin-top: 70px;
    }
    .section-card-items-info-btn{
        width: unset;
        padding-top: 22px;
        padding-bottom: 22px;
        width: 100%;
    }
    .desc{
        padding: unset;
        padding: 30px;
    }
    .desc-title{
        font-size: 40px;
        text-align: center;
    }
    .desc-cards-photo{
        flex-direction: column;
    }
    .desc-cards-photo p {
        width: unset;
    }
    .footer{
        padding: unset;
        display: flex;
        flex-direction: column;
    }
    .footer-links{
        flex-direction: column;
        row-gap: 36px;
    }
    .footer-social{
        margin-left: 0px;
    }
}